<nav class="navbar navbar-inverse topnav" id="myTopnav">
    <div class="container-fluid">
        <div class="navbar-header">

            <a class="navbar-brand" href="#" style="margin: 0 auto;">
                <span>
                    <img src="/assets/logo.png" width="25px" /> </span>Truffle Butter</a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/home">Home</a>
                </li>
                <li>
                    <a href="/bank">Bank</a>
                </li>
                <li>
                    <a href="/gdo">GDO</a>
                </li>
                <li>
                    <a href="/register">NGO</a>
                </li>
                <li class="active"> 
                    <a href="/beneficiary">Beneficiary</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="register">
                        <span class="glyphicon glyphicon-user"></span>  Manage Beneficiaries</a>
                </li>
                <li *ngIf="!loggedin">
                    <a href="login" >
                        <span class="glyphicon glyphicon-log-in"></span> Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="col-md-6 col-md-offset-3 login">
    <h2>View Beneficiary Balance</h2>
    <form name="form"  (ngSubmit)="f.form.valid && getBalance()" #f="ngForm" novalidate>
        <div class="form-group input-group" [ngClass]="{ 'has-error': f.submitted && !address.valid }">
            <label for="address">Wallet Address</label>
            <input type="text" aria-describedby="basic-addon2" class="form-control" name="address" [(ngModel)]="model.address" #address="ngModel" required />
            <div *ngIf="f.submitted && !address.valid" class="help-block">Wallet Address is required</div>
            <span class="input-group-addon qr" id="basic-addon2"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                <i class="fa fa-qrcode" aria-hidden="true"></i>
            </button></span>
        
        </div>
        <div class="form-group">
            <button [disabled]="loading" style="margin: 0 auto;" class="btn btn-primary text-center">Get Balance <i class="fa fa-money" aria-hidden="true"></i></button>
            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
            />
        </div>
    </form>

</div>
<div class="modal fade" id="exampleModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Scan QR</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>  
            <div class="modal-body">
                <div class="text-center">
                    <br/>
                    <img src="/assets/qrcode.png" class="img-responsive" style="margin: 0 auto" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="col-md-6 col-md-offset-3 login">
    <div class="jumbotron login balance">
        <span>{{balance}} SIF Tokens </span>
    </div>
</div>