.proceed {
  height: 70px;
  width: 352px;
  border-radius: 30px;
  font-size: 25px;
  background-color: #55DAE1 !important;
  border-color: #55DAE1 !important;
  color: white;
  font-weight:bold;

   -webkit-box-shadow: 11px 11px 28px -8px #55DAE1 ;
-moz-box-shadow: 11px 11px 28px -8px #55DAE1 ;
box-shadow: 11px 11px 28px -8px #55DAE1 ;
}
