{% extends "header.html" %}

{% block content %}

<div class="row formcontainer">
  <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
      <div class="card">
        <h4 align='center'>Login</h4>
    
        {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
        {% endif %}
    
        {% if next %}
            {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
            {% else %}
            <p>Please login to see this page.</p>
            {% endif %}
        {% endif %}
    
        <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
            {% for field in form %}
            <p>
            {{ field.label_tag }}<br>
            {{ field }}
            {% for error in field.errors %}
                <p>{{ error }}</p>
            {% endfor %}
            </p>
            {% endfor %}
            <div>
                <input type="submit" value="Login" class="btn pull-right"/>
                <input type="hidden" name="next" value="{{ next }}" />
            </div>
        </form>
      </div>
  </div>
</div>

{% endblock %}