.vscode
node_modules

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings
/build
# e2e
/e2e/*.js
/e2e/*.map

#System Files
.DS_Store
Thumbs.db

package-lock.json
