<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-2">
    <div class="panel panel-info">
      <div class="panel-heading">Check prepaid allowance</div>
      <div class="panel-body">
        <form [formGroup]="allowanceForm" class="invite-form">
          <div class="input-group">
            <input formControlName="waterMeterAddress" type="text" class="form-control propy-control" id="waterMeterAddress" placeholder="Water Meter Address">
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" (click)="requestAllowance()">Get allowance</button>
            </span>
          </div>
        </form>
      </div>
    </div>
    <div class="panel panel-success" *ngIf="myAllowance >= 0">
      <div class="panel-body">
        Your total purchased allowance is {{myAllowance}} litres.
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="panel panel-info">
      <div class="panel-heading">Check next litres quotation</div>
      <div class="panel-body">
        <form [formGroup]="pricingForm" class="invite-form">
          <div class="form-group">
            <input formControlName="waterMeterAddress" type="text" class="form-control propy-control" id="waterMeterAddress" placeholder="Water Meter Address">
          </div>
          <div class="form-group">
            <label for="sel1">Select water amount:</label>
            <select class="form-control" id="waterAmount" formControlName="requestedLitres">
              <option value="3000">3000 litres</option>
              <option value="6000">6000 litres</option>
              <option value="9000">9000 litres</option>
              <option value="12000">12000 litres</option>
            </select>
          </div>
          <button type="button" class="btn btn-default" (click)="requestPricing()">Get price quotation</button>
        </form>
      </div>
    </div>
    <div class="panel panel-success" *ngIf="myQuotation">
      <div class="panel-body">
        Your price quotation is {{myQuotation.amount /100}} Rand. (
        <i>{{myQuotation.price/100}}R per 1000 liters</i>)
      </div>
    </div>
  </div>
</div>
